/* .box {
    flex: 0 1 243px;
    min-width: 140px;
    max-width: 243px;
    height: 168px;
    background-color: blue;
    border-radius: 8px;
    box-sizing: border-box;
} */

.box {
    flex: 0 1 243px;
    min-width: 150px;
    max-width: 243px;
    height: 168px;
    background-color: white;
    border-radius: 8px;
    flex-shrink: 1;

    font-family: Inter, sans-serif;
    color: #333333;
}

.box-label {
    display: flex;
    flex-direction: column;
}

.box-icon {
    width: 16px;
    height: 16px;
}