.header {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    /* keep a small gap from the top of the viewport */
    padding-top: 24px;
    margin-bottom: 40px;
}

/*left container*/
.left-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 100px;
}

.right-container img {
    width: 26px;
    height: 26px;
}

.profile-view {
    width: 40px;
    height: 40px;
    background-color: #DC4EF3;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

.search-bar {
    width: 576px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}

.search-text {
    font-family: 'Inter', sans-serif;
    color: #333333;
}


/*right container*/