.import {
    max-width: 1018px;
    width: 100%;
    height: 210px;
    background-color: white;

    border-radius: 8px;

    font-family: Inter, sans-serif;

    /* padding-left: ; */
}

button {
    background-color: #002A45;
    color: white;
    width: 178px;
    height: 55px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;

    border: solid 0px;
}

.import-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 24px;
}

.import-texts {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 27px;
}

.import-title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

.import-sub {
    font-size: 18px;
    color: #444444;
    font-weight: 400;
}