.home-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-right: 100px;
}

.blocks {
    display: flex;
    gap: 16px;
    /* width: 100%; */
    /* occupy all available width */
    /* align-items: stretch; */
    /* make children stretch vertically to same height */
    flex-wrap: nowrap;
    /* allow children to wrap to next line when space is tight */
}

.main-container {
    display: flex;
    gap: 19px;
    flex: 1;
    min-width: 0;
}

.left-container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 66px;
    min-width: 0;
}

.right-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    min-width: 0;
}